<div class="navigation">
    <div class="logo-container">
        <div class="logo-icon">
            <ion-icon name="layers-outline"></ion-icon>
        </div>
        <span class="title"> Votre configuration ZTP </span>
    </div>

    <ul id="nav-list" up-fragment="nav-list" up-hungry>
        <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}"
            up-target=".fragment-container"
            up-transition="cross-fade"
            up-history="push"
            >
                <div class="icon-container">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                </div>
                <span class="title"> Accueil </span>
            </a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'device_list' %}active{% endif %}">
            <a href="{% url 'device_list' %}"
            up-target=".fragment-container"
            up-transition="cross-fade"
            up-history="push"
            >
                <div class="icon-container">
                    <span class="icon">
                        <ion-icon name="desktop-outline"></ion-icon>
                    </span>
                </div>
                <span class="title"> Mes appareils </span>
            </a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'device_add' %}active{% endif %}">
            <a href="{% url 'device_add' %}"
            up-target=".fragment-container"
            up-transition="cross-fade"
            up-history="push"
            >
                <div class="icon-container">
                    <span class="icon">
                        <ion-icon name="build-outline"></ion-icon>
                    </span>
                </div>
                <span class="title"> Configurer un appareil </span>
            </a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'help_page' %}active{% endif %}">
            <a href="{% url 'help_page' %}"
            up-target=".fragment-container"
            up-transition="cross-fade"
            up-history="push"
            >
                <div class="icon-container">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                </div>
                <span class="title"> Aide </span>
            </a>
        </li>

        <li>
            <a href="https://chadi-mangle.github.io/web-ztp/" target="_blank">
                <div class="icon-container">
                    <span class="icon">
                        <ion-icon name="book-outline"></ion-icon>
                    </span>
                </div>
                <span class="title"> Documentation </span>
            </a>
        </li>

        {% if user.is_authenticated %}
            <li class="{% if request.resolver_match.url_name == 'account_profile' %}active{% endif %}">
                <a href="{% url 'account_profile' %}"
                up-target=".fragment-container"
                up-transition="cross-fade"
                up-history="push"
                >
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Profil </span>
                </a>
            </li>

            <li>
                <a href="{% url 'account_logout' %}">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Se déconnecter </span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'auth:login' %}">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="log-in-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Se connecter </span>
                </a>
            </li>

            <li>
                <a href="{% url 'auth:register' %}">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="person-add-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> S'inscrire </span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
