{% extends "unpoly_auth_container.html" %}

{% block fragment %}

<c-crispy-auth-form :form="form" action="{% url 'account_signup' %}" title="Inscription"> 
    <c-slot name="button">
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </c-slot>
    <c-slot name="paragraph">
        <a href="{% url 'account_login' %}" 
        class="btn btn-link"
        up-target="#unpoly-auth-container"
        up-transition="cross-fade"
        >Vous avez déjà un compte ? Connectez-vous ici</a>
    </c-slot>
</c-crispy-auth-form>

{% endblock %}
