django
django-htmx
gunicorn
django-crispy-forms
crispy-bootstrap5
django-allauth
jinja2
Pillow
psycopg2-binary
dj-database-url
black
whitenoise
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinx-autodoc-typehints==1.25.2
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
myst-parser==2.0.0

# Documentation
mkdocs>=1.5.3
mkdocs-material>=9.5.3
mkdocs-jupyter>=0.24.1
mkdocstrings>=0.24.0
mkdocstrings-python>=1.7.1
pymdown-extensions>=10.8.1
markdown>=3.6
mkdocs-git-revision-date-localized-plugin>=1.2.0