http://localhost:8080 {
  redir https://{host}:44344{uri} permanent
}

https://localhost:44344 {
   handle_path /static/* {
       root * /web/staticfiles
       file_server
   }

   handle_path /media/* {
       root * /web/media
       file_server
   }

   handle {
       reverse_proxy web:8000
   }

   tls internal
}