@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    backdrop-filter: blur(10px);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    transition: all 0.3s ease-in-out;
}

.input-box input::placeholder {
    color: black;
    opacity: 0.7;
}

.input-box input:hover, .input-box input:focus {
    border-color: #0c6291;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: black;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.wrapper .btn:hover {
    background: #fff;
    color: black;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: black;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Applique le style général aux select */
.input-box select {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    appearance: none; /* Supprime le style natif */
    cursor: pointer;
}

/* Effet au survol et focus */
.input-box select:hover,
.input-box select:focus {
    border-color: #0c6291;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

/* Ajout d'une flèche descendante personnalisée */
.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
    pointer-events: none;
}
