{% if success %}
    <br>
    <div class="errorHandling">
        <p style="color: green;">
            ✅ Appareil ajouté : {{ modele }} 
        </p>
    </div>
{% else %}
    <br>
    <div class="errorHandling">
        <p style="color: red;">❌ Erreur :</p>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
