<div class="container">
    <div class="navigation">
        <div class="logo-container">
            <div class="logo-icon">
                <ion-icon name="layers-outline"></ion-icon>
            </div>
            <span class="title"> Votre configuration ZTP </span>
        </div>

        <ul>
            <li class="active">
                <a href="/dashboard">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Accueil </span>
                </a>
                <span class="tooltip">Accueil</span>
            </li>

            <li>
                <a href="/devices">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="desktop-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Mes appareils </span>
                </a>
                <span class="tooltip">Mes appareils</span>
            </li>

            <li>
                <a href="/config">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="build-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Configurer un appareil </span>
                </a>
                <span class="tooltip">Configurer</span>
            </li>

            <li>
                <a href="/help">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> Aide </span>
                </a>
                <span class="tooltip">Aide</span>
            </li>

            <li class="disabled">
                <a href="#">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> <span class="coming-soon">À VENIR</span> Mot de passe </span>
                </a>
                <span class="tooltip">Mot de passe</span>
            </li>

            <li class="disabled">
                <a href="#">
                    <div class="icon-container">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title"> <span class="coming-soon">À VENIR</span> Se déconnecter </span>
                </a>
                <span class="tooltip">Se déconnecter</span>
            </li>
        </ul>
    </div>
</div>
