<tr class="align-middle">
    <td class="fw-medium">{{ device.hostname }}</td>
    <td>
        {% if device.ip %}
            {{ device.ip }}
        {% else %}
            Non renseigné
        {% endif %}
    </td>
    <td class="text-center">{{ device.serial_number }}</td>
    <td>
    {% if device.template %}
        <span>{{ device.template.name }}</span>
    {% else %}
        <span>Aucun</span>
    {% endif %}
    </td>
    <td>
        <span class="badge {% if device.configured %}bg-success{% else %}bg-warning{% endif %}">
            {% if device.configured %}Configuré{% else %}Non configuré{% endif %}
        </span>
    </td>
    <td>
        <a href="{% url 'device_update' device.pk %}" class="btn btn-outline-primary" style="min-width: 0px"
           aria-label="Modifier {{ device.hostname }}">
            <ion-icon name="settings-outline"></ion-icon>
        </a>
        <a href="{% url 'device_delete' device.pk %}" class="btn btn-outline-danger" style="min-width: 0px" 
           up-layer="new modal"
           aria-label="Supprimer {{ device.hostname }}">
            <ion-icon name="trash-outline"></ion-icon>
        </a>
    </td>
</tr>