{% extends 'app/base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styleAppareils.css' %}">
{% endblock %}
{% block content %}
{% device_count as nb_device %}
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                    {% render_card "Nombre d'appareils configurés" nb_device "eye-outline" %}
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                
            {% include "app/components/deviceDashboard.html" %}

                <!-- ================= New Customers ================ -->

{% endblock %}