{% extends 'app/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styleFormulaire.css' %}">
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% include "app/components/formButton.html" %}
<div class="wrapper">
    {% url 'dhcpconfig_form' as url %}
    {% include "app/components/genericForm.html" with form=form title="Formulaire" action_url=url submit_text="Modifier la config DHCP" %}
    
    <div id="response-container" ></div>
</div>
{% endblock %}