<table class="device-table" up-hungry>
    <thead>
        <tr>
            <td> Hostname </td>
            <td> Adresse IP </td>
            <td> Serial Number </td>
            <td> Template </td>
            <td> Status </td>
            <td> Actions </td>
        </tr>
    </thead>

    <tbody>
    {% for device in devices %}
        <c-device-row :is=device />
    {% empty %}
        <tr>
            <td colspan="6" style="text-align: center;">Aucun appareil trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
