{% extends "base.html" %}

{% load static crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}
<div class="container">
    {% crispy form %}
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="{% static 'js/dhcp_slider.js' %}"></script>
{% endblock %}